html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: 'Catamaran', sans-serif;
    padding-top: 100px; /* Add padding to body to prevent content from being overlapped by the fixed header */
}

.about-us-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(40vh - 2em); /* Adjust the value as needed */
    padding-top: 40px;
  }

  .about-us {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    text-align: center;
  }

  .about-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about-us p {
    /* text-align: left; */
    font-size: 16px;
    line-height: 1.5;
  }


  .for-customer-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(40vh - 2em); /* Adjust the value as needed */
  }

  .section-customer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-customer h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  .section-customer p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
  }

  .section-customer ul li {
    text-align: left;
      font-size: 16px;
      line-height: 1.5;
  }
